
/* .color-letra{

    color: white;
} */

tr{
    color:black !important;
}
td{
    color: black !important;
}
table {
  margin-bottom: 100px;
}



.error { 
    color: blue;
}

.invalid {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 90%;
    color: #dc3545;
}