
<div class="container" >


<button (click)="limpiarForm()" type="button" data-bs-toggle="modal" data-bs-target="#ModalRegistra" class="btn btn-primary">Nuevo Trabajador</button>
<br>
<br>
 

    <br>
    <br>

    

    <div class="col-md-23 color-letra">

        <div class="row">
            <div class="col-md-12">
                <div class="content">

                    <table id="id_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                
                                <th style="width: 30%">Usuario</th>
                                <th style="width: 30%">Nombre</th>
                                <th style="width: 20%">Apellido</th>
                                <th style="width: 20%">Correo</th>
                                <th style="width: 10%">Rol</th>
                                <th style="width: 10%"></th>
                            

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of trabajadores2">
                              

                                <td>{{x.usuario}}</td>
                                <td>{{x.nombres}}</td>
                                <td>{{x.apellidos}}</td>
                                <td>{{x.correo}}</td>
                                <td>{{x.rol!.descripcion}}</td>
                                <td><button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="busca(x)" style="width: 90px" >Editar</button>
                                    <!-- <button  type="button" data-toggle='modal' data-target="#idModalRegistrar" class='btn btn-primary btn-sm' style="width: 150px">Registrar</button> -->
                                </td>
                             
                  
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualización de Trabajador</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="content" [formGroup]="formsActualiza" >
                        <div class="submit-form">

                            <div  class="row">
                                <div class="col-lg-6">
                                    <label for="id_act_nombre">Nombre</label>
                                    <input type="text" formControlName="validaNombre" [(ngModel)]="trabajador.nombres" placeholder="Ingrese el nombre" class="form-control" name="nombre" id="id_act_nombre" />
                                    <div *ngIf="submitted && formsActualiza.controls.validaNombre.errors" class="invalid">       
                                        <ul>
                                            <li>El nombre es obligatorio</li>    
                                            <li>El nombre es de 3 a 30 caracteres</li>    
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <label for="id_act_nombre" >Apellidos</label>
                                    <input type="text" formControlName="validaApellido" [(ngModel)]="trabajador.apellidos" placeholder="Ingrese el apellido" class="form-control" name="apellido" id="id_act_apellido" />
                                    <div *ngIf="submitted && formsActualiza.controls.validaApellido.errors" class="invalid">       
                                        <ul>
                                            <li>El apellido es obligatorio</li>    
                                            <li>El apellido es de 3 a 40 caracteres</li>    
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div  class="row">

                                <div class="col-lg-6">
                                    <label for="id_act_dni">DNI</label>
                                    <input type="text" formControlName="validaDNI" [(ngModel)]="trabajador.documento"  placeholder="Ingrese Documento" class="form-control" name="Documento" id="id_act_documento" />
                                    <div *ngIf="submitted && formsActualiza.controls.validaDNI.errors" class="invalid">       
                                        <ul>
                                            <li>El DNI es obligatorio</li>    
                                            <li>El DNI es de 8 caracteres</li>    
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="id_act_dni">Correo</label>
                                    <input type="text" formControlName="validaCorreo" [(ngModel)]="trabajador.correo"  placeholder="Ingrese Correo" class="form-control" name="correo" id="id_act_correo" />
                                    <div *ngIf="submitted && formsActualiza.controls.validaCorreo.errors" class="invalid">       
                                        <ul>
                                            <li>El correo es obligatorio</li>    
                                          
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          

                           
                            <div  class="row">

                            <div class="col-lg-6">
                                <label for="id_act_dni">Descripción</label>
                                <input type="text" formControlName="validaDescripcion" [(ngModel)]="trabajador.descripcion"  placeholder="Ingrese Descripcion" class="form-control" name="descripcion" id="id_act_descripcion" />
                                <div *ngIf="submitted && formsActualiza.controls.validaDescripcion.errors" class="invalid">       
                                    <ul>
                                        <li>La descripción es obligatorio</li>    
                                      
                                    </ul>
                                </div>
                            </div>
                           

                            <div class="col-lg-6">
                                <label for="id_act_dni">Iniciales</label>
                                <input type="text" formControlName="validaIniciales" [(ngModel)]="trabajador.usuario"  placeholder="Ingrese Iniciales" class="form-control" name="iniciales" id="id_act_iniciales" />
                                <div *ngIf="submitted && formsActualiza.controls.validaIniciales.errors" class="invalid">       
                                    <ul>
                                        <li>Las iniciales es obligatorio</li>    
                                      
                                    </ul>
                                </div>
                            </div>

                            </div>

                            <div  class="row">

                            <!-- <div class="col-lg-6" style="display: none;">
                                <label for="id_act_dni">Contraseña</label>
                                <input type="text" [(ngModel)]="trabajador.password"  placeholder="Ingrese Contraseña" class="form-control" name="contraseña" id="id_act_constraseña" />
                            </div> -->
    
    
                          
                                <div class="col-lg-6">
                                    <label for="id_act_rol">Rol</label>
                                    <select  formControlName="validaRol" [(ngModel)] = "trabajador.rol!.idRol" id="id_act_rol" name="rol" class="form-select">
                                        <option value="-1"> [Seleccione] </option>
                                        <option *ngFor="let aux of roles" value="{{ aux.idRol }}">
                                            {{ aux.descripcion }}
                                        </option> 
                                    </select>
                                    <div *ngIf="submitted && formsActualiza.controls.validaRol.errors" class="invalid">       
                                        <ul>
                                            <li>Las iniciales es obligatorio</li>    
                                          
                                        </ul>
                                    </div>
                            
    
                             
                            </div> 

                            </div>
                            </div>



                       

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <div class="form-group text-center">
                                <div class="col-lg-12">

                                    <button id="id_act_actualiza" (click)="actualiza()" class="btn btn-success form-control" [disabled]="submitted && formsActualiza.invalid">Actualizar</button>

                                    
                                    <!-- <button id="id_act_actualiza" (click)="actualiza()" class="btn btn-success form-control" style="width: 100px;">Actualizar</button> -->

                                </div>
                            </div>
                        </div>
                    </form>





                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalRegistra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro de Trabajador</h5>
                   <button type="button" class="btn-close" id="closebutton" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="content"  [formGroup]="formsRegistra">
                        <div class="submit-form">

                            <div  class="row">
                                <div class="col-lg-6">
                                    <label for="id_act_nombre">Nombre</label>
                                    <input type="text" formControlName="validaNombre" [(ngModel)]="trabajador.nombres" placeholder="Ingrese el nombre" class="form-control" name="nombre" id="id_act_nombre" />
                                    <div *ngIf="submitted && formsRegistra.controls.validaNombre.errors" class="invalid">       
                                        <ul>
                                            <li>El nombre es obligatorio</li>    
                                            <li>El nombre es de 3 a 30 caracteres</li>    
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <label for="id_act_nombre">Apellidos</label>
                                    <input type="text" formControlName="validaApellido" [(ngModel)]="trabajador.apellidos" placeholder="Ingrese el apellido" class="form-control" name="apellido" id="id_act_apellido" />
                                    <div *ngIf="submitted && formsRegistra.controls.validaApellido.errors" class="invalid">       
                                        <ul>
                                            <li>El apellido es obligatorio</li>    
                                            <li>El apellido es de 3 a 40 caracteres</li>    
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div  class="row">

                                <div class="col-lg-6">
                                    <label for="id_act_dni">DNI</label>
                                    <input type="text" formControlName="validaDNI" [(ngModel)]="trabajador.documento"  placeholder="Ingrese Documento" class="form-control" name="Documento" id="id_act_documento" />
                                    <div *ngIf="submitted && formsRegistra.controls.validaDNI.errors" class="invalid">       
                                        <ul>
                                            <li>El DNI es obligatorio</li>    
                                            <li>El DNI es de 8 caracteres</li>    
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="id_act_dni">Correo</label>
                                    <input type="text" formControlName="validaCorreo" [(ngModel)]="trabajador.correo"  placeholder="Ingrese Correo" class="form-control" name="correo" id="id_act_correo" />
                                    <div *ngIf="submitted && formsRegistra.controls.validaCorreo.errors" class="invalid">       
                                        <ul>
                                            <li>El correo es obligatorio</li>    
                                          
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          

                           
                            <div  class="row">

                            <div class="col-lg-6">
                                <label for="id_act_dni">Descripción</label>
                                <input type="text" formControlName="validaDescripcion" [(ngModel)]="trabajador.descripcion"  placeholder="Ingrese Descripcion" class="form-control" name="descripcion" id="id_act_descripcion" />
                                <div *ngIf="submitted && formsRegistra.controls.validaDescripcion.errors" class="invalid">       
                                    <ul>
                                        <li>La descripción es obligatorio</li>    
                                      
                                    </ul>
                                </div>
                            </div>
                           

                            <div class="col-lg-6">
                                <label for="id_act_dni">Iniciales</label>
                                <input type="text" formControlName="validaIniciales" [(ngModel)]="trabajador.usuario"  placeholder="Ingrese Iniciales" class="form-control" name="iniciales" id="id_act_iniciales" />
                                <div *ngIf="submitted && formsRegistra.controls.validaIniciales.errors" class="invalid">       
                                    <ul>
                                        <li>Las iniciales es obligatorio</li>    
                                      
                                    </ul>
                                </div>
                            </div>

                            </div>

                            <div  class="row">

                            <div class="col-lg-6">
                                <label for="id_act_dni">Contraseña</label>
                                <input type="text" formControlName="validaContrasena" [(ngModel)]="trabajador.password"  placeholder="Ingrese Contraseña" class="form-control" name="contraseña" id="id_act_constraseña" />
                                <div *ngIf="submitted && formsRegistra.controls.validaContrasena.errors" class="invalid">
                                    <ul>
                                        <li>La contraseña es obligatorio</li>    
                                     
                                         
                                    </ul>
                                 </div>
                            </div>
    
    
                          
                                <div class="col-lg-6">
                                    <label for="id_act_rol">Rol</label>
                                    <select formControlName="validaRol"
                                     [(ngModel)] = "trabajador.rol!.idRol"   id="id_act_rol" name="rol" class="form-select">
                                        <option value="-1"> [Seleccione] </option>
                                        <option *ngFor="let aux of roles" value="{{ aux.idRol }}">
                                            {{ aux.descripcion }}
                                        </option> 
                                    </select>
                                    <div *ngIf="submitted && formsRegistra.controls.validaRol.errors" class="invalid">       
                                        <ul>
                                            <li>Las iniciales es obligatorio</li>    
                                          
                                        </ul>
                                    </div>
                            
    
                             
                            </div> 

                            </div>
                            </div>



                       

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <div class="form-group text-center">
                                <div class="col-lg-12">

                                    <button id="id_act_actualiza" (click)="registra()" class="btn btn-success form-control" [disabled]="submitted && formsRegistra.invalid" >Registrar</button>

                                    
                                    <!-- <button id="id_act_actualiza" (click)="actualiza()" class="btn btn-success form-control" style="width: 100px;">Actualizar</button> -->

                                </div>
                            </div>
                        </div>
                    </form>





                </div>

            </div>
        </div>
    </div>

   

