#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}
#logo {
  max-width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-input {
  color: var(--font-color)
}
