
<div class="container" >

    <h5 style="color: white ;">Listado de ticket</h5>

    <br>
    <br>

    <div class="row" style="height: 80px">
        <div class="col-md-4" *ngIf=" eliminar">
            <select     id="id_sel_trabajador" name="selected" class="form-control" [(ngModel)]="ticket2.trabajador!.id_trabajador">
                <option value="-1"> [Seleccione] </option>
                <option *ngFor="let aux of trabajadores" value="{{ aux.id_trabajador }}">
                            {{ aux.nombres }}
                </option>
            </select>
        </div>
        <div class="col-md-4">
            <select     id="id_sel_trabajador" name="selected" class="form-control" [(ngModel)]="ticket2.estado!.id_estado">
                <option value="1"> [Seleccione] </option>
                <option *ngFor="let est of estados" value="{{ est.id_estado }}">
                            {{ est.descripcion }}
                </option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="consulta()" class="btn btn-primary btn-sm" id="id_btn_filtrar" style="width: 150px">Filtrar</button>
        </div>

    </div>

    <div class="col-md-23 color-letra" style="margin-top: 3%">

        <div class="row">
            <div class="col-md-12">
                <div class="content">

                    <table id="id_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <!-- <th style="width: 5%">Código</th> -->
                                <th style="width: 30%">Iniciales</th>
                                <th style="width: 20%">Titulo</th>
                                <th style="width: 20%">Descripcion</th>
                                <th style="width: 10%">Estado</th>
                                <th style="width: 20%" *ngIf="isAdmin">Asignacion tecnico</th>
                                <th style="width: 20%" *ngIf="isAdmin">Estrellas</th>
                                <th style="width: 20%">Botones</th>

                                <!-- <th style="width: 15%"></th>    -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of data">
                                <!-- <td>{{x.idTicket}}</td> -->
                                <!-- <td>{{x.trabajador!.nombres}}</td> -->

                                <td>{{x.trabajador!.usuario}}</td>
                                <td>{{x.titulo}}</td>
                                <td>{{x.descripcion}}</td>
                                <td>{{x.estado!.descripcion}}</td>
                                <td *ngIf="isAdmin">

                                    <div class="custom-control custom-switch" style="padding-right: 5px;">
                                        <!-- <input type="checkbox" class="custom-control-input" id="idEstado_{{x.idDocente}}" name="estado" [checked]="x.estado==1?true:false" (change)="cambiaEstado(x)" />      -->
                                        <select     id="id_sel_trabajador_{{x.idTicket}}" name="selected_{{x.idTicket}}" class="form-control" [(ngModel)]="ticket.trabajador!.id_trabajador" (change)="actualiza3(x)">
                                            <option value="-1"> [Seleccione] </option>
                                            <option *ngFor="let aux of trabajadores" value="{{ aux.id_trabajador }}">
                                                        {{ aux.nombres }}
                                            </option>
                                        </select>
                                      </div>
                                    </td>
                                    <td> <app-estrellas [isDisabled]="true" [estrellas]="x.estrellas || 0"></app-estrellas></td>
                                <td>
                                    <div style="display: flex;">

                                      <div>
                                      <button type="button"  (click)="navigateToDetail(x)" style="width: 90px" class="btn btn-success btn-sm"  data-toggle="modal" data-target="#idModalActualizar">Detalle</button>
                                    </div>

                                    <div *ngIf=" eliminar">
                                        <button type="button" (click)="elimina(x)" style="width: 90px" class="btn btn-danger btn-sm" >Eliminar</button>
                                    </div>
                                </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- <iframe src='https://webchat.botframework.com/embed/demobotwalle?s=YOUR_SECRET_HERE'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe> -->
   
    <!-- <iframe src='https://webchat.botframework.com/embed/demobotwalle?s=Kcc2tNuVTAY.ViNjJbw4nSIDRDfc7K2NyVFI5aFGOEwU1C7jdV65sIc'  style='min-width: 400px; min-height: 500px; position: absolute; z-index: 11;margin-left: -325px;'></iframe> -->



    <!-- <a class='flotante' href='#' ><img src="../../../assets/boton.jpg" border="0" style="width: 22%;"/></a> -->