
<div class="container">
    <div>
        <h1>Detalle de Ticket</h1>
    </div>
    <div style="display: flex;flex: 1;">
        <div style="flex: 0.6">
            <p class="subtitle">{{ticket.titulo}}</p>
            <div style="display: flex; flex-direction: column;">
                <!-- <p style="margin-right: 20px;">Creado por {{ticket.usuario?.nombres}} {{ticket.usuario?.apellidos}} </p> -->
                <p style="font-weight: bold;margin: 0px 0px 5px 0px;">Urgencia: {{ticket.urgencia?.descripcion}}</p>
                <p class="container-estado__fecha">Creado el {{formatDate(ticket.fechaCreacion)}}</p>
            </div>
            <p>{{ticket.descripcion}}</p>
            <app-estrellas [estrellas]="ticket.estrellas || 0" [isDisabled]="true"></app-estrellas>
        </div>
        <div style="flex: 0.4">
            <div class="container-estado">
                <p class="subtitle">Estado</p>
                <div class="estado">
                    <div class="circle" [ngClass]="{
                      'no-iniciado': selectedState.id_estado === 1,
                      'en-proceso': selectedState.id_estado === 2,
                      'finalizado': selectedState.id_estado === 3
                    }"></div>
                    <!-- <p>{{ticket.estado?.descripcion}}</p> -->
                    <select name="estado" id="estado" class="form-select" style="max-width: 180px;margin-left: 5px;"
                      (change)="changeSelectedState()"
                      [disabled]="!ableToChangeState"
                      >
                      <option *ngFor="let estado of estados" [value]="estado.id_estado" [selected]="estado.id_estado === ticket.estado?.id_estado">
                        {{estado.descripcion}}
                      </option>
                    </select>
                    <button *ngIf="ableToChangeState" class="btn send-button"
                      style="color: white; margin-left: 5px;"
                      (click)="changeTicketState()"
                    >Cambiar Estado</button>
                </div>
                <p class="container-estado__fecha">el {{formatDate(ticket.fechaCreacion)}}</p>
            </div>
            <div *ngIf="ticket.trabajador !== null">
                <div class="container-trabajador">
                    <p class="subtitle">Trabajador</p>
                    <p>{{ticket.trabajador?.nombres}} {{ticket.trabajador?.apellidos}}</p>
                    <p>{{ticket.trabajador?.usuario}}</p>
                    <span>Correo:</span>
                    <p>{{ticket.trabajador?.correo}}</p>
                    <p>{{ticket.trabajador?.id_rol}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
