
<div class="container" >
    <h5 style="color: white ;">Listado de ticket</h5>

    <div class="col-md-23 color-letra" style="margin-top: 3%">

        <div class="row">
            <div class="col-md-12">
                <div class="content">

                    <table id="id_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%">Código</th>
                                <th style="width: 30%">Trabajador</th>
                                <th style="width: 10%">Titulo</th>
                                <th style="width: 10%">Descripcion</th>
                                <th style="width: 10%">Accion</th>
                          
                                <th style="width: 15%"></th>   
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of data">
                                <td>{{x.idTicket}}</td>
                                <td>{{x.trabajador!.nombres}}</td>
                                <td>{{x.titulo}}</td>
                                <td>{{x.descripcion}}</td>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <!-- <input type="checkbox" class="custom-control-input" id="idEstado_{{x.idDocente}}" name="estado" [checked]="x.estado==1?true:false" (change)="cambiaEstado(x)" />      -->
                                        <select     id="id_sel_trabajador_{{x.idTicket}}" name="selected_{{x.idTicket}}" class="form-control" [(ngModel)]="ticket.trabajador!.id_trabajador" (change)="actualiza3(x)">
                                            <option value="-1"> [Seleccione] </option>
                                            <option *ngFor="let aux of trabajadores" value="{{ aux.id_trabajador }}"> 
                                                        {{ aux.nombres }}
                                            </option>
                                        </select>
                                      </div>  
                                </td>
                                <td>
                               <button type="button"  (click)="navigateToDetail(x)" style="width: 90px" class="btn btn-success btn-sm"  data-toggle="modal" data-target="#idModalActualizar">Detalle</button>
                               <!-- <button type="button" (click)="busca(x)" style="width: 90px" class="btn btn-success btn-sm"  data-bs-toggle="modal" data-bs-target="#idModalActualizar">Editar</button> -->
                            </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>



    
  