<nav *ngIf="isLogged">
  <div class="header-left">
    <div id="logo">
      <img src="../../../assets/logo.png" alt="">
    </div>
    <div class="menu-links">
      <a [routerLink]="['/']" class="nav-item">Inicio</a>
      <a [routerLink]="['/agregarTicket']" class="nav-item">Tickets</a>
    </div>
  </div>
  <div class="header-right">
    <a class="button header-right__description">{{nombreUsuario}} - {{firstLetterUpperCase(rol)}}</a>
    <a class="button header-right__button" (click)="logOut()">Cerrar sesión</a>
  </div>
</nav>
