
/* .color-letra{

    color: white;
} */

body{
    background-color: aqua !important;
    /* background-color: var(--body-cl); */

}

.flotante {
    display:scroll;
        position:fixed;
        bottom:320px;
        right:0px;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:blue;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
.bot-frame {
  height: 0;
  opacity: 0;
  transition: all 0.4s ease-out;
  border: solid 1px rgba(170,170,170, 0.4);
  background-color: white;
}

.appear-bot {
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
  height: 500px;
  opacity: 1;
  transition: all 0.4s ease-in;
}
